@import "styles.css";

@media (orientation: landscape){
    #header::after {
        content: " Bangladeshi Student's Association";
    }

    #form-link::before {
        content: "General Member ";
    }

    #about-nav::after {
        content: " THE CLUB AND OUR MISSION";
    }
    #events-nav::before {
        content: "UPCOMING BSA ";
    }
    #team-nav::before {
        content: "MEET THE ";
    }
}

@media (orientation: portrait) {
    #title-div {
        margin: 3vw;
    }

    #header-logo {
        width: 10vw;
    }

    #header {
        margin-left: 1.5vw;
        font-size: 4vw;
    }

    #header::after {
        content: " BSA";
    }

    #form-link {
        font-size: 4vw;
        border-width: 1px;
        padding: 1.5vw 3vw;
    }

    #intro-div {
        margin: 0;
        padding: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #intro {
        margin: auto;
    }

    #intro-title {
        padding-top: 3vw;
        text-align: center;
        font-size: 14vw;
    }

    #nav-div {
        margin-top: 4vw;
        margin-bottom: -3vw;

        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav {
        background-color: var(--secondary-color);
        color: var(--green);
        border: solid 2px var(--secondary-color-light);
        border-radius: 30px;
        padding: 1vw 3vw;
        font-size: 4vw;
    }

    #intro-image {
        height: auto;
        width: 80vw;
        margin: auto;
    }
}