@media (orientation: portrait) {
    #intro-div {
        margin: 0;
        padding: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #intro {
        margin: auto;
    }

    #intro-title {
        padding-top: 3vw;
        text-align: center;
        font-size: 8vw;
    }

    #nav-div {
        flex-direction: row;
    }

    .nav {
        text-align: center;
    }

    #intro-image {
        height: auto;
        width: 80vw;
        margin: auto;
    }
}